body {
  margin: 0;
  padding: 0;
}

.left-div {
  background-image: url(/assets/site/mapblue.jpg);
  background-size: 850px;
  background-position: top;
  left: 0;
  position: fixed;
  height: 100%;
  width: 77%;
}

.right-div {
  background-color: rgb(83, 83, 83);
  right: 0;
  position: fixed;
  height: 100%;
  width: 23%;
}

div>div {
  display: inline-block;
  margin: 7px 5px;
  text-align: center;
}

div>div>img {
  width: 45%;
  margin: 0;
}

div>div>span {
  font-size: 13px;
}