body {
  margin: 0;
  padding: 0;
}

.left-div {
  background-image: url(/assets/site/mapblue.jpg);
  background-size: 850px;
  background-position: top;
  left: 0;
  position: fixed;
  height: 100%;
  width: 77%;
}

.right-div {
  background-color: rgb(83, 83, 83);
  right: 0;
  position: fixed;
  height: 100%;
  width: 23%;
}

div>div {
  display: inline-block;
  margin: 7px 5px;
  text-align: center;
}

div>div>img {
  width: 45%;
  margin: 0;
  transition-duration: 0.3s;
  cursor: pointer;
}

div>div>img:hover {
  transform: scale(1.2);
}

div>div>span {
  font-size: 13px;
}

.right-div__search {
  position: fixed;
  bottom: 6px;
  right: 10px;
}

.right-div__result {
  display: inline-block;
  background-color: red;
}